#wave {
  position: relative;
  background-color: #F3F3F4;
}

#wave::before, #wave::after {
  height: 250px;
  content: '';
  z-index: -1;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}

#wave::before {
  bottom: 100%;
  background-image: url('/wave-top.svg');
}

#wave::after {
  top: 100%;
  background-image: url('/wave-bottom.svg');
}


#menu { transition: 0.2s;}

#checkbox:checked ~ div label #open { display: none; }
#checkbox:checked ~ #menu {display: block; transform: translateX(0); opacity: 0.9;}

@media screen and (max-width: 768px) {
  #wave::before, #wave::after {
    height: 120px;
  }
}